.footer-img {
  padding: 5px;
  justify-content: center;
  border: solid;
  border-color: #5cb3fd;
  border-width: 2px;
  border-top: none;
}

#videoCT img {
  cursor: pointer;
}

.container>.row>div {
  margin-top: 15px;
}
