#loginCT > .row .col-12{
    margin-top: 15%;
    background-color: #fafafa;
    padding: 2%;
    border: solid 1px #9e9e9e;
}

ng-template .container{
    margin-left: 25px !important;
    margin-right: 25px !important;
}