<div id="sidebar" class="sidenav">
  <a onclick="" href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">&times;</a>
  <a routerLink="/login-usuario" *ngIf="!auth.loggedIn">Login Usuario</a>
  <a routerLink="/login-invitado" *ngIf="!auth.loggedIn">Login Invitado</a>
  <a routerLink="/usuarios" *ngIf="auth.loggedIn && auth.admin">Usuarios</a>
  <a routerLink="/invitados" *ngIf="auth.loggedIn && auth.admin">Invitados</a>
  <a routerLink="/administrar-videos" *ngIf="auth.loggedIn && auth.admin">Administrar videos</a>
</div>


